.button {
    border-radius: 14px;
    border: none;
    text-transform: uppercase;
    background: linear-gradient(180deg, #74C733 0%, #57A41B 100%);
    text-decoration: none;
    box-shadow: 0px 45px 72px rgba(116, 199, 51, 0.15), 0px 25px 40px rgba(116, 199, 51, 0.25), 0px 5px 15px rgba(116, 199, 51, 0.45);
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;

    &_ghost-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        border: 1px solid #74C733;
        background: none;
        box-shadow: none;

        @include tablet {
            height: 40px;
            width: 40px;
        }
    }

    &_ghost {
        padding: 14px 30px;
        border: 1px solid #74C733;
        background: none;
        box-shadow: none;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #343439;

        @include tablet {
            font-size: 10px;
            height: 40px;
            padding: 10.6px 20px;
        }
    }

    &_normal {
        padding: 21px 0px 20px;
        width: 270px;

        @include tablet {
            width: 310px;
        }

        @include mobile {
            width: 280px;
        }
    
        @include mobile-small {
            width: 245px;
        }
    }

    &_long {
        padding: 21px 54px 20px;
    }
}

.button_circle {
    width: 90px;
    height: 90px;
    background-color: #161516;
    box-shadow: none;
    border-radius: 100px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #74C733;

        svg {
            path {
                fill: #FFFFFF;
            }
        }
    }

    svg {
        position:relative;
        height: 52px;
        left: 4px;
        top: 2px;
    }

    @include tablet {
        width: 66px;
        height: 66px;

        svg {
            height: 30px;
            left: 3px;
        }
    }

    
}

.form-input {
    width: 270px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #88879B;
    border-radius: 14px;
    margin-right: 10px;

    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-indent: 24px;
    color: #161516;

    @include tablet {
        width: 310px;
    }

    @include mobile {
        width: 280px;
    }

    @include mobile-small {
        width: 245px;
    }
}


