.features {

    .title-second {
        margin-top: 120px;
    }

    .subtitle {
        margin-top: 10px;
        max-width: 570px;
    }

    &-grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 30px 30px;
        grid-template-areas:
          "card-1 card-1 card-2 card-2 card-3 card-3"
          "card-1 card-1 card-4 card-4 card-4 card-4"
          "card-5 card-5 card-5 card-6 card-6 card-6";
        margin-top: 30px;
        }

        .card-1 {
            grid-area: card-1;
        }
        .card-2 {
            grid-area: card-2;
        }
        .card-3 {
            grid-area: card-3;
        }
        .card-4 {
            grid-area: card-4;
        }
        .card-5 {
            grid-area: card-5;
        }
        .card-6 {
            grid-area: card-6;
        }
        
    &-card {
        position: relative;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        .card__description {
        margin-top: 10px;
        font-weight: 500;
        font-size: 15px;
        line-height: 29px;
        color: #595866;
        }
    
        .card__number {
        font-weight: 700;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.5em;
        color: #74c733;
        display: none;
        }
    }
    
    .card-1 {
        height: 630px;

        .card__img {
            position: absolute;
            bottom: 30px;
            right: 10px;
        }
    }

    .card-2, .card-3 {
        height: 300px;

        .card__content {
            max-width: 190px;
        }

        .card__description {
            position: relative;
            z-index: 3;
        }

        .card__img {
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
    }

    .card-4 {
        height: 300px;

        .card__content {
            max-width: 480px;
        }

        .card__img {
            position: absolute;
            bottom: 20px;
            right: 10px;
        }
    }

    .card-5, .card-6 {
        height: 300px;

        .card__content {
            max-width: 316px;
        }

        .card__img {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }

    @include laptop {
        &-grid-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px 30px;
            margin-top: 20px;
            }
            
        &-card {
            position: relative;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .card__description {
            font-weight: 400;
            font-size: 15px;
            }
        
            .card__number {
            display: block;
            }
        }
        
        .card-1, .card-2, .card-3, .card-4, .card-5, .card-6 {
            width: 300px;
            height: 525px;
    
            .card__content {
                max-width: 100%;
            }

            .card__img {
                position: relative;
                height: 120px;
                width: 120px;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
            }
        }
    }
}

@include tablet {
    .features.container {
        padding: 0px;
    }

    .title-second {
        margin-left: 40px;
    }

    .subtitle {
        margin-left: 40px;
        margin-right: 40px;
    }
}

// Стили слайдера
.features-grid-wrapper .slick-list {
    width: 100%;
    height: 615px;
}

.features-grid-wrapper .slick-slide {
    display: flex;
    margin-left: 30px;
}